<%= link_to bike_offer_path(bike_offer) do %>
    <p><%= bike_offer.title %></p>
    <% if bike_offer.photos.first.nil? %>
        <%= image_tag'velo-default.jpg', alt: "Le Wagon", width: 50, height: 40 %>
        </div>
    <% else %>
    <%= cl_image_tag(bike_offer.photos.first.key, width: 50, height: 40, crop: :fill) %>
        </div>
    <% end %>
    <p><%= bike_offer.genre %></p>
    <p><%= bike_offer.address %></p>
<%end%>
