<h1>Your bikes</h1>

<% if @all_my_user_bikes.empty? %>
    <p>You don't have any bike yet</p>
    <%=link_to "Create a new offer", new_bike_offer_path %>
    <%=link_to "See all bike offers", bike_offers_path %>
<% else  %>

    <% @all_my_user_bikes.each do |bike| %>
        <%= bike.title %> <%=link_to "See details", bike_offer_path(bike.id) %>
        <% if bike.bookings == [] %>
            <p>=> No booking request</p>
        <% else  %>
            <% n = 0  %>
            <% bike.bookings.each do |booking| %>
                <% n +=1  %>
                <p>Booking request<%= n %>. : Start date : <%= booking.start_date %> | End date: <%= booking.end_date %> 
                <% if booking.accepted.nil? %>
                    | <%=link_to "Accept this booking", accepted_booking_path(booking), method: :patch %>
                    | <%=link_to "Decline this booking", declined_booking_path(booking), method: :patch %>
                <% elsif  booking.accepted == true %>
                   | Booking accepted
                <% elsif booking.accepted == false %>
                    | Booking declined
                <% end  %>
                </p>
            <% end %>
        <% end %>    
    <% end  %>
<%end %>