<div class="home-banner">
  <div class="container">
    <p class="padding-banner">Find the bike you deserve</p>
    <div class="form-inline">
      <%= form_tag bike_offers_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control mr-sm-2",
          placeholder: "Find a bike"
        %>
        <%= submit_tag "Search", class: "button-airbnbike" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container text-center mt-4 mb-4"><h3><%= @bike_offers.count %> available offers</h3>

  <div class="all-content">

    <div class="grid-bikes">
      <% @bike_offers.each do |bike_offer| %>
        <div class="grid-col-bikes">
          <div class="card-bike">
            <% if bike_offer.photos.first.nil? %>
              <div class="card-container-img-default">
              </div>
            <% else %>
              <div class="card-container-img" style="background: linear-gradient(217deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('<%= cl_image_path bike_offer.photos.first.key %>');background-size: cover;background-position: center;">
              </div>
            <% end %>
            <div class="card-buble">
              <span class= "card-buble-price"><%= bike_offer.price_per_day %></span>
              <span class = "card-buble-dollar">$</span>
            </div>
            <div class="card-text-container">
              <div class="card-bike-title"><%= bike_offer.title %></div>
              <%=link_to bike_offer_path(bike_offer.id) do %>
                <button type="button" class="button-airbnbike my-2">Details</button>
              <% end %>
              <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-start">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star nochecked"></span>
                  <span class="fa fa-star nochecked"></span>
                </div>
                <div class= "card-buble-dollar">by <u><%= bike_offer.user.pseudo %></u></div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div id="map"
      class="map-position rounded mobile-hide"
      style="height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>

</div>
