<div class="banner">
  <div class="container"><p class="padding-banner">Find the bike you deserve</p>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="button-airbnbike" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="container text-center mt-4 mb-4"><h3><%= @bike_offers.count %> available offers</h3>

  <div class="grid-bikes">
    <% @bike_offers.each do |bike_offer| %>
      <div class="grid-col-bikes">
        <div class="card-bike">
          <div class="card-container-img" style="background: linear-gradient(217deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('https://www.cc-montdesavaloirs.fr/wp-content/uploads/2020/06/velo_triporteur-e1591619894557.jpg');background-size: cover;background-position: center;">
          </div>
          <div class="card-buble">
            <span class= "card-buble-price"><%= bike_offer.price_per_day %></span>
            <span class = "card-buble-dollar">$</span>
          </div>
          <div class="card-text-container">
            <div class="card-bike-title"><%= bike_offer.title %></div>
            <%=link_to bike_offer_path(bike_offer.id) do %>
              <button type="button" class="button-airbnbike my-2">Details</button>
            <% end %>
            <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star nochecked"></span>
                <span class="fa fa-star nochecked"></span>
              </div>
              <div class= "card-buble-dollar">by <u><%= bike_offer.user.pseudo %></u></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>