<h1>Bike details</h1>


<h3> <%= @bike_offer.title %> </h3>
<p>Genre : <%= @bike_offer.genre %></p>
<p>Size : <%= @bike_offer.size %></p>
<p>Price : <%= @bike_offer.price_per_day %>EUR</p>
<% if @bike_offer.user_id == current_user.id %>
    <%=link_to "Update this bike", edit_bike_offer_path(@bike_offer) %>
    <%=link_to "Delete this bike", bike_offer_path(@bike_offer), method: :delete, data: {confirm: "Are your sure?"} %>
<%end  %>
<%=link_to "See all bike offers", bike_offers_path %>
<%=link_to "Create a new offer", new_bike_offer_path %>
