
<div class="container text-center mt-4 mb-4">

<div class="row">
  <div class="col-sm-6">
    <div class="container-card-show">
      <div class="card pt-3 shadow">
            <div id="carouselExampleControls" class="carousel slide container" data-ride="carousel">
              <div class="carousel-inner">
                  <% if @bike_offer.photos.first.nil? %>
                    <div class="carousel-item active">
                      <%= image_tag "https://res.cloudinary.com/dow6rowa0/image/upload/v1597753157/photo-1523357585206-175e971f2ad9_q3r6tl.webp", class: 'd-block w-100' %>
                    </div> 
                  <% else %>
                    <div class="carousel-item active">
                      <%= cl_image_tag @bike_offer.photos.first.key, height: 400, width: 500, crop: :fill, class: 'd-block w-100' %>
                    </div>
                    <% unless @bike_offer.photos.length == 1 %>
                      <% @bike_offer.photos[1..].each do |photo| %>
                        <div class="carousel-item">
                          <%= cl_image_tag photo.key, height: 400, width: 500, crop: :fill, class: 'd-block w-100' %>
                        </div>
                      <% end %>
                      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    <% end %>
                  <% end %>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <p class="font-weight-bold"><%= @bike_offer.title %></p>
                <p><i class="fas fa-bicycle"></i> : <%= @bike_offer.genre %> | Size : <%= @bike_offer.size %></p>
                <p><%= @bike_offer.price_per_day %> <i class="fas fa-euro-sign"></i> per day</p>
              </h5>
            </div>
      </div>  
    </div>
    
      
     
  </div>  

     <% if policy(@bike_offer).edit? %>
      <div class="container-card-show">
      <p>Would you like to modify your bike?</p>
        <h5>
          <%= link_to edit_bike_offer_path(@bike_offer), class:"text-success" do%>
          Edit this bike <i class="fas fa-pen text-success"></i>
          <%end %> 
        </h5>
        <h5>
          <%=link_to bike_offer_path(@bike_offer), method: :delete, class:"text-danger", data: {confirm: "Are your sure?"} do %>
          Delete this bike <i class="fas fa-trash-alt text-danger"></i> 
          <%end  %>
        </h5>
      </div> 
      <% end %>
    
   

  <div class="col-sm-6">      
    <%= render '/bookings/form', booking: @booking %>
  </div>
</div>






<div class="container-card-show text-center">
  <p><%=link_to "See all bike offers", bike_offers_path %></p>
  <p><%=link_to "Create a new offer", new_bike_offer_path %></p>
</div>   

<%= simple_form_for [ @bike_offer, @review ] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, as: :hidden  %>
  <div class="my-3">
    <% 5.times do |index| %>
      <i id="<%= index + 1 %>" class="review-rating far fa-star"></i>
    <% end %>
  </div>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<div class="reviews">
  <% @bike_offer.reviews.each do |review| %>
    <p>
      <% review.rating.times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <% (5 - review.rating).times do %>
        <i class="far fa-star"></i>
      <% end %>
    </p>
    <p><%= review.content %></p>
  <% end %>
</div>